.business_event_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  gap: 5em 5em;
  padding-left: 10em;
  padding-right: 10em;
  margin-top: 2em;
  background-color: #4f6ec4;
  border: 1px solid #4f6ec4;
  height: 100%;
}

.map-icon {
  width: 1.8em;
  height: 1.8em;
}

.navBar {
  display: flex;
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: white;
  margin-bottom: 2em;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 4.9em;
  font-weight: bold;
  font-size: large;
  color: black;
}

a {
  margin-right: 2em;
  text-decoration: none;
}
