.business_event_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.051fr 2.3fr;
  grid-template-areas:
    '. .'
    '. .';

  margin: auto;
  gap: 0em, 5em;
  padding-left: 10em;
  padding-right: 10em;
  margin-top: 2em;
  background-color: #4f6ec4;
  border: 1px solid #4f6ec4;
  height: 100%;
}

.map-icon {
  width: 1.8em;
  height: 1.8em;
}

.navBar {
  display: flex;
  top: 0;
  width: 100%;
  background-color: white;
  margin-bottom: 0.2em;
  border-bottom: 0.5px solid #4f6ec4;
  align-items: center;
}

.navBar h2 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100%;
  font-weight: bold;
  font-size: large;
  color: black;
}

a {
  margin-right: 2em;
  text-decoration: none;
}

.search-bar {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
}

.search-btn {
  height: 2.4em;
  margin-left: 1.5em;
}

.zipcode {
  margin-right: 1em;
}
