.form-input {
  margin-left: 10em;
}

.input-field {
  width: 20em;
  height: 2em;
}

.textarea {
  width: 20em;
  height: 10em;
}

.convertAddressField {
  width: 20em;
  height: 2em;
}

.h1-input {
  margin-left: 5em;
}

.form-pict-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3fr;
  gap: 0px 0px;
  grid-template-areas: '. .';
  justify-content: center;
}

.login-form {
  margin: auto;
}

.msg-section {
  margin: auto;
}

.h1-input-coordinates {
  margin-left: 19vw;
}

.form-input-coordinates {
  margin-left: 14em;
}
