.user-business,
.user-event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 30em;
  height: 16em;
}

.event-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 30em;
  height: 16em;
}
