@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

.user-business,
.user-event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5em, 0.5em, 0.5em, 0.5em;
  border: 0.4em solid white;
  align-content: center;
  background-color: white;
  border: 0.4em solid #4f6ec4;
  text-align: center;
}

.business-card,
.event-card {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: 0.4em solid white;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1em;
  width: 35em;
  height: 20em;
  padding: 1em 1em 1em 1em;
  background-color: #4f6ec4;
  color: white;
  border-radius: 5%;
  font-weight: bold;
}

.card-details {
  padding: 1em, 1em, 1em, 1em;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  /* width: 50vw; */
  /* align-content: center; */
}
.title-container {
  display: flex;
  justify-content: space-evenly;
  /* width: 50vw;
  margin: left; */
  /* text-align: center; */
}

.delete-btn,
.details-btn,
.edit-btn {
  margin-top: 1em;
  width: 1.5em;
  font-size: 1.2em;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: font-size 150ms ease-in-out;
}

.delete-btn:hover,
.details-btn:hover,
.edit-btn:hover {
  font-size: 2em;
  color: white;
}

.signin-btn,
.register-btn {
  width: 8em;
  height: 2em;
  font-size: 1em;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 4px 2px 4px 2px;
}

.create-btn {
  width: 12em;
  height: 2em;
  font-size: 1em;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 4px 2px 4px 2px;
  background-color: #4f6ec4;
  color: white;
  border-radius: 5%;
  margin-top: 1em;
}

.fa-plus-square-o {
  font-size: 1.2em;
}

.create-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.user-profile-title {
  margin: auto;
  text-align: center;
}

.h3-input {
  text-align: center;
  margin: auto;
}

.title-h2 {
  margin: auto;
  height: 2em;
  color: white;
  align-content: center;
}
